asgiref==3.11.1
click==8.3.3
colorama==0.4.6
Django==6.0.4
h11==0.16.0
psycopg[binary]>=3.2,<3.3
python-dotenv==1.2.2
qrcode==8.2
redis>=6,<7
sqlparse==0.5.5
tzdata==2026.2
uvicorn==0.46.0
whitenoise==6.12.0
