{% extends "base.html" %}

{% block content %}
    <div class="card">
        <h2 class="section-title">Create MonetteFarms Check-In Entry</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button class="btn" type="submit">Save Check-In Entry</button>
        </form>
    </div>
{% endblock %}
